@import "src/resources/scss/variables/color";

.b-project-page {
  .project-table-container {
    padding: 20px 0;
  }

  .project-button-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;

    .project-button {
      color: $white;
      margin-left: 10px;
      background: $btn-linear-gradient;
    }
  }
}
