// Color-Variables

$white: #FFF;
$black: #000;
$red: #D30000;
$bg-white-rgba: rgba(255, 255, 255, 0.4);
$bg-linear-gradient: linear-gradient(53deg, rgba(78,101,209,1) 0%, rgba(205,93,196,1) 100%);
$btn-linear-gradient: linear-gradient(90deg, rgba(78,101,209,1) 0%, rgba(205,93,196,1) 100%);

