.b-sign-in-page {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .sign-in-card {
    width: 25%;
    padding: 40px;

    .sign-in-form {
      display: flex;
      flex-direction: column;

      .sign-in-input {
        margin-bottom: 15px;
      }

      .sign-in-button {
        margin-top: 15px;
      }
    }
  }
}
