@import "src/resources/scss/variables/color";

.b-component-info {
  flex: 1;
  display: flex;
  align-items: flex-start;

  .component-info-wrapper {
    flex: 1;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }

  .component-info {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
  }

  .component-info-title {
    color: $grey;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .assignees-button {
    color: $white;
    margin-left: 10px;
    background: $btn-linear-gradient;
  }
}
